.directionsStartHeader {
    padding: 2px 16px;
    background-color: #aa49d6;
    color: white;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}