.signUpWrapper {
    grid-area: a;
    position: relative;
    top: 135px;
    align-self: center;
    justify-self: center;
    min-width: 350px;
    padding: 50px;
    border-radius: 4px;
}

.signUpForm {
    display: grid;
    row-gap: 35px;
    grid-template-rows: 35px 35px 45px 30px ;
    color: white;
}

.label {
    grid-area: label;
    color: white;
}

.labelSignUp {
    font-size: 23px;
}

.input {
    grid-area: input;
    color: white;
}

.inputSignUp {
    height: 30px;
}
